<!-- <form>
	<div class="login-container">
		<div class="login-content">
			<mat-toolbar class="login-toolbar" color="primary">Recipe Book</mat-toolbar>
			<mat-card>
				<form  >
					<mat-form-field>
						<mat-icon matPrefix>person_outline</mat-icon>
						<input autofocus type="text" matInput placeholder="Username" formControlName="email">
					</mat-form-field>

					<mat-form-field>
						<mat-icon matPrefix>lock_outline</mat-icon>
						<input type="password" autocomplete="false" matInput placeholder="Password"  formControlName="password">
					</mat-form-field>

					<button type="submit" mat-raised-button color="primary">LOGIN</button>
        </form>
					

          <span> If You don't have a account yet please <a routerLink ='/register'>REGISTER HERE</a></span>



				
			</mat-card>
		</div>
	</div> -->
<div>
  
  <mat-card>
    <mat-card-content>
      <form >
        <h2>Log In</h2>
        <mat-error >
          The username and password were not recognized
        </mat-error>
        <mat-form-field>
          <input matInput placeholder="Email" required>
          <mat-error>
            Please provide a valid email address
          </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput type="password" placeholder="Password" required>
              <mat-error>
                Please provide a valid password
              </mat-error>
            </mat-form-field>
            <button mat-raised-button color="primary">Login</button>
          </form>
          <p>Don't have account? <button>REGISTER</button></p>
        </mat-card-content>
      </mat-card>
      </div>