<div>
    <h1>Create</h1>
    <form>
        <mat-form-field appearance="fill">
            <mat-label>Title</mat-label>
            <input matInput>
        </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>About us:</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
  <mat-form-field appearance="fill">
      <mat-label>If you have:</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>We Offer:</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
  
    
    <button mat-flat-button color="primary">Create</button>
</form>
</div>
  