<mat-card>
  <h1>Create</h1>
  <form (submit)="onSaveAd(adForm)" #adForm="ngForm">

    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input
        matInput
        name="title"
        [ngModel]="ad?.title"
        required
        minlength="3"
        #title>
        <mat-error *ngIf="title">Please enter a ad title!</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Tech Stack:</mat-label>
      <textarea
        matInput
        name="tech"
        [ngModel]="ad?.tech"
        required
        #tech
      ></textarea>
      <mat-error *ngIf="tech">Please enter tech stack information!</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>IT Field:</mat-label>
      <textarea
        matInput
        name="itField"
        [ngModel]="ad?.itField"
        required
        #itField
      ></textarea>
      <mat-error *ngIf="itField">Please enter IT field information!</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>About us:</mat-label>
      <textarea
        matInput
        name="about"
        [ngModel]="ad?.about"
        required
        #about
      ></textarea>
      <mat-error *ngIf="about">Please enter about us information!</mat-error>
    </mat-form-field>

    <mat-form-field >
      <mat-label>If you have:</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>We Offer:</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>


    <button mat-raised-button color="primary" type="submit">Create</button>
  </form>
</mat-card>
