<h1>JOBS ADS</h1>
<mat-spinner *ngIf="isLoading"></mat-spinner>
<div *ngIf="ads.length> 0 && !isLoading">
    <mat-card *ngFor="let ad of ads">

      <ng-container>
        <mat-card-header>
          <mat-card-title>
            {{ad.title}}
          </mat-card-title>
        </mat-card-header>
        <div class="post-image">
          <img [src]="ad.imagePath" [alt]="ad.title">
        </div>
        <mat-card-content>
          <p>
            Tech Stack: {{ad.tech}}
          </p>
          <p>
            IT Field: {{ad.itField}}
          </p>
        </mat-card-content>
      </ng-container>

<mat-action-row *ngIf="userIsAuth">
  <a mat-button color="accent" [routerLink]="['/edit', ad.id]">EDIT</a>
  <button mat-button color="warn" (click)="onDelete(ad.id)">DELETE</button>
</mat-action-row>

<!-- <mat-card-actions>
    <a mat-button style="background-color:#ffa000;color:white" routerlink="ad/detail"> DETAILS</a>
</mat-card-actions> -->

</mat-card>
<mat-paginator [length]="totalAds" [pageSize]="adsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)" *ngIf="ads.length> 0"></mat-paginator>
</div>
<p id="noPost" class="mat-body-1" *ngIf="ads.length <= 0 && !isLoading">Not ads added yet!</p>
