<h1>JOBS ADS</h1>

<div *ngIf="ads.length> 0">
    <mat-card *ngFor="let ad of ads">

        <mat-card-header>
            <mat-card-title>
                {{ad.title}}
            </mat-card-title>
        </mat-card-header>

    <mat-card-content>
    <p>
        {{ad.about}}
    </p>
</mat-card-content>
<mat-action-row>
  <button mat-button color="accent">EDIT</button>
  <button mat-button color="warn" (click)="onDelete(ad.id)">DELETE</button>
</mat-action-row>

<mat-card-actions>
    <a mat-button style="background-color:#ffa000;color:white" routerlink="ad/detail"> DETAILS</a>
</mat-card-actions>

</mat-card>
</div>

<p id="noPost" class="mat-body-1" *ngIf="ads.length <= 0">Not ads added yet!</p>
