
.mat-accordion {
  width: 75%;
  display: block;
  margin: auto;
  margin-top: 1rem;
}

.mat-accordion .mat-expansion-panel{
  margin-bottom: 10px;
}

 h1 {
  margin-top: 2%;
  text-align: center;
  font-size: xx-large;
  font-weight: 700;
}

mat-spinner {
  margin: auto;
}

mat-paginator {
  margin-top: 1rem;
}

.info-text {
  text-align: center;
}

.post-image {
  width: 100%;
}

.post-image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 13%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 30px;
}

.ad-title {
  font-size: 135%
}

mat-paginator {
  margin: auto;
  width: 75%;
}
.contnet {
  margin: auto;
  font-size: 115%;
  width: 450px;
}

.weOffer {
  white-space: pre-wrap;
}

.ifYouHave {
  white-space: pre-wrap;
}

.email {
  margin-top: 50px;
  font-weight: 500;
}
