<mat-toolbar>
    <a class="home" mat-button routerLink="/">JOBS App</a>

    <span class="spacer"></span>

<ul class="nav">
  <li class="links">
    <a mat-button routerLink="/ad/dashboard" routerLinkActive="mat-accent">JOBS</a>
    <a mat-button routerLink="/about" routerLinkActive="mat-accent">About</a>
    <a mat-button routerLink="/ad/create" routerLinkActive="mat-accent">Create</a>
    <a mat-button routerLink="/auth/login" routerLinkActive="mat-accent">Login</a>
    <a mat-button routerLink="/auth/register" routerLinkActive="mat-accent">Register</a>
    <a mat-button routerLink="ad/logout" routerLinkActive="mat-accent">Logout</a>
  </li>
</ul>

</mat-toolbar>
