mat-toolbar {

    background-color: #234465;
}
.spacer {
    flex: 1 1 auto;
}

.home {
    background-color: #ffa000;
    font-size: large;
}

a {
  font-size: medium;
}

.nav {
  list-style: none;
}
