<h1>SoftUni JOBS App</h1>

<p class="top-three">These are the last 3 ads added:</p>

    <mat-accordion multi="true">
        <mat-expansion-panel *ngFor="let ad of lastThree">
          <mat-expansion-panel-header class="ad-title">
            {{ ad.title }}
          </mat-expansion-panel-header>
          <div class="post-image">
            <img [src]="ad.imagePath" [alt]="ad.title">
          </div>
          <div class="contnet">
            <strong>Tech Stack: </strong>
            <p>
              {{ad.tech}}
            </p>
            <strong>IT Field: </strong>
            <p>
              {{ad.itField}}
            </p>
            <strong>About us: </strong>
            <p class="about">
              {{ ad.about }}
            </p>
            <strong>If You Have: </strong>
            <p class="ifYouHave">
              {{ ad.ifYouHave }}
            </p>
            <strong>We Offer: </strong>
            <p class="weOffer">
              {{ ad.weOffer }}
            </p>
            <p class="email">
              To apply, send your CV to email: jobs.app@softuni.bg
            </p>
          </div>
        </mat-expansion-panel>
      </mat-accordion>

      <p class="no-ads" *ngIf="lastThree.length <= 0">There are no ads!</p>
