h1 {
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    padding-top: 10px;
}

p{
    font-family: "Lato", sans-serif;
    text-align: justify;
}

.example-card {
  max-width: 300px;
  margin: 10px;
}



mat-card-subtitle{
    font-size: 18px;
}

mat-card-title{
    color: green;
    font-size: 30px;
    justify-content: center;
    display: flex;
}

.card {
    margin: auto;
    width: 70%;
}

.top-three {
    text-align: center;
    margin-top: 200px;
    font-size: larger;
    font-weight: bold;
    font-style: italic;
}

.post-image {
    width: 100%;
  }

  .post-image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 13%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
  }

  .mat-accordion {
    width: 75%;
    display: block;
    margin: auto;
    margin-top: 1rem;
  }

  .mat-accordion .mat-expansion-panel{
    margin-bottom: 10px;
  }

  .ad-title {
    font-size: 135%
  }

.contnet {
    white-space: pre-wrap;
    margin: auto;
    font-size: 115%;
    width: 450px;
  }

  .weOffer {
    white-space: pre-wrap;
  }

  .ifYouHave {
    white-space: pre-wrap;
  }

  .email {
    white-space: pre-wrap;
    margin-top: 50px;
    font-weight: 700;

  }


  .no-ads {
    margin-top: 50px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
  }
