<h1>SoftUni JOBS App</h1>

<p class="top-three">These are the top 3 most liked ads:</p>
<div class="card">

    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>AD TITLE</mat-card-title>
            <!--         <mat-card-subtitle> 
                One stop solution for all CS Subjects 
            </mat-card-subtitle> -->
</mat-card-header>
<mat-card-content>
    <p>
        This is DESCRIPTION
            </p>
      
</mat-card-content>
<mat-card-actions>
    <button mat-button style=
                    "background-color:#ffa000; 
                     color:white"> 
                DETAILS
            </button>
        </mat-card-actions>
    </mat-card>
    
    <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>AD TITLE</mat-card-title>
        <!--         <mat-card-subtitle> 
            One stop solution for all CS Subjects 
                </mat-card-subtitle> -->
    </mat-card-header>
    <mat-card-content>
        <p>
            This is DESCRIPTION
                </p>
          
    </mat-card-content>
    <mat-card-actions>
        <button mat-button style=
                        "background-color:#ffa000; 
                         color:white"> 
                    DETAILS
                </button>
            </mat-card-actions>
        </mat-card>
        
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>AD TITLE</mat-card-title>
                <!--         <mat-card-subtitle> 
                    One stop solution for all CS Subjects 
                </mat-card-subtitle> -->
                </mat-card-header>
                <mat-card-content>
                <p>
                    This is DESCRIPTION
                </p>
                
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button style=
                            "background-color:#ffa000; 
                             color:white"> 
                        DETAILS
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>